services:
  tor:
    image: dperson/torproxy
    container_name: tor
    restart: unless-stopped
    # environment:
    #   - LOCATION=FR
    #   - STRICT=1
    #   - TOR_MaxCircuitDirtiness=600
    expose:
      - "9050"
      - "9051"

  backend:
    build: ./backend
    depends_on:
      - tor
    environment:
      - TOR_SOCKS=socks5h://tor:9050
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
